.log-bar
  %p チャットグループが作成されました
.contents
  .side-bar
    .user-zone
      .user
        %span sample user
        = link_to "#" do
          %i.fa.fa-cog
        = link_to "#" do
          %i.fa.fa-pencil-square-o
    .side-bar__gruop-zone
      .side-bar__group
        .side-bar__group__name
          %p ぐるーぷ１
        .side-bar__group__message
          %p no messages
      .side-bar__group
        .side-bar__group__name
          %p ぐるーぷ2
        .side-bar__group__message
          %p yahho
  .chat-zone
    .chat-zone__group
      .chat-zone__group__name
        %span SAMPLEグループ
      %a.chat-zone__group__button{:href => "#"}
        %span Edit
      .chat-zone__group__member
        %span Member:
        %span メンバー
    .mesasge-zone
      .message-zone__message
        .message-zone__message__member
          %span john
        .message-zone__message__date
          %span 2018/02/20
        .message-zone__message__text
          %span プログラミング楽しい
      .message-zone__message
        .message-zone__message__member
          %span michael
        .message-zone__message__date
          %span 2018/02/20
        .message-zone__message__text
          %span しいdef
      .message-zone__message
        .message-zone__message__member
          %span takashi
        .message-zone__message__date
          %span 2018/02/20
        .message-zone__message__text
          %span プロしい
      .message-zone__message
        .message-zone__message__member
          %span john
        .message-zone__message__date
          %span 2018/02/20
        .message-zone__message__text
          %span プログラミング楽しい
      .message-zone__message
        .message-zone__message__member
          %span michael
        .message-zone__message__date
          %span 2018/02/20
        .message-zone__message__text
          %span しいdef
      .message-zone__message
        .message-zone__message__member
          %span takashi
        .message-zone__message__date
          %span 2018/02/20
        .message-zone__message__text
          %span プロしい
      .message-zone__message
        .message-zone__message__member
          %span john
        .message-zone__message__date
          %span 2018/02/20
        .message-zone__message__text
          %span プログラミング楽しい
      .message-zone__message
        .message-zone__message__member
          %span michael
        .message-zone__message__date
          %span 2018/02/20
        .message-zone__message__text
          %span しいdef
      .message-zone__message
        .message-zone__message__member
          %span takashi
        .message-zone__message__date
          %span 2018/02/20
        .message-zone__message__text
          %span プロしい
    .send-message-zone
      .send-message-zone__input
        = link_to "#" do
          %i.fa.fa-photo
      .send-message-zone__button
        %span Send
