.log-bar
  %p チャットグループが作成されました
.contents
  = render partial: "side-bar__group-zone__group", locals: { group: @group }
  .chat-zone
    .chat-zone__group
      .chat-zone__group__name
        %span SAMPLEグループ
      %a.chat-zone__group__button{href: "#"}
        %span Edit
      .chat-zone__group__member
        %span Member:
        %span メンバー
    .message-zone
      - for i in 1..10
        = render partial: "message-zone__message"
    .send-message-zone
      .send-message-zone__input
        = form_for [@group, @message] do |f|
          %input.send-message-zone__input{placeholder: "type a message", type: "text"}
          = link_to "#" do
            %i.fa.fa-photo
      %a.send-message-zone__button{href: "#"}
        %span Send

aaa
