.log-bar
  %p チャットグループが作成されました
.contents
  .side-bar
    .user-zone
      .user
        %span sample user
      %i.fa.fa-pencil-square-o
      %i.fa.fa-cog
    .side-bar__gruop-zone
      .side-bar__group
        .side-bar__group__name
          %p ぐるーぷ１
        .side-bar__group__message
          %p no messages
      .side-bar__group
        .side-bar__group__name
          %p ぐるーぷ2
        .side-bar__group__message
          %p yahho
  .chat-zone
    .chat-zone__group
      .chat-zone__group__name
        %span SAMPLEグループ
      .chat-zone__group__member
        %span member1
      .chat-zone__group__button
        %a Edit
    .mesasge-zone
      .message-zone__message
        .message-zone__message__member
          %span john
        .message-zone__message__date
          %span 2018/02/20
        .message-zone__message__text
          %span プログラミング楽しい
    .send-message-zone
      .send-message-zone__input
      .send-message-zone__button
