.log-bar
  %p チャットグループが作成されました
.contents
  .side-bar
    .name-zone
      .name
        %span sample user
      %i.fa.fa-pencil-square-o
      %i.fa.fa-cog
    .side-bar__gruop-zone
      .side-bar__group
        .side-bar__group__name
          %p ぐるーぷ１
        .side-bar__group__status
          %p no messages
  .chat-zone
    .chat-zone__group
      .chat-zone__group__name
      .chat-zone__group__member
      .chat-zone__group__button
    .mesasge-zone
      .message-zone__message
        .message-zone__message__member
        .message-zone__message__date
        .message-zone__message__text
    .send-message-zone
      .send-message-zone__input
      .send-message-zone__button


