html, body {
  height: 100%;
}

.log-bar {
  height: 30px;
  background-color: #38aef0;
    p {
      text-align: center;
      line-height: 30px;
      color: #ffffff;
    }
}

.contents {
  @extend .clearfix;
  height: 100%;
  width: 100%;
}



.side-bar {
  min-height: 1000px;
  width: 300px;
  background-color: #2f3e51;
  float: left;
  .user-zone {
    height: 96px;
    padding: 0 20px;
    margin-bottom: 20px;
    background-color: #253141;
    .user {
      width: 300px-100px;
      line-height: 96px;
      float: left;
      span {
        color: #ffffff;
        font-size: 16px;
        font-weight: bold;
      }
    }
    i {
      line-height: 96px;
      color: white;
      float: left;
      padding-left: 10px;
    }
  }
  .side-bar__gruop-zone {
    .side-bar__group {
      padding: 0 20px 40px;
      .side-bar__group__name {
        color: #ffffff;
        font-size: 15px;
        margin-bottom: 5px;
      }
      .side-bar__group__message {
        color: #ffffff;
        font-size: 11px;
      }
    }

  }
}

.chat-zone {
  width: calc(100% - 300px);
  height: 100%;
  background-color:#dddddd;
  float: left;
  .chat-zone__group {
    height: 96px;
    background-color: #ffffff;
    padding: 0 40px;
    border-bottom: solid 1px #eeeeee;
    .chat-zone__group__name{
      height: 20px;
      padding-top: 35px;
      padding-bottom: 15px;
      float: left;
      span {
        font-size: 20px;
        color:#333333;
      }
    }
    .chat-zone__group__member{
      float: left;
      clear: left;
      span {
        font-size: 12px;
        color: #999999;
      }
    }
    .chat-zone__group__button {
      height: 40px;
      border: solid 2px #38aef0;
      float: right;
      clear: left;
      a {
        margin: 0 20px;
        line-height: 40px;
      }
    }
  }
  .mesasge-zone {
    .message-zone__message {
      .message-zone__message__member {
        span {

        }
      }
      .message-zone__message__date {
        span {

        }
      }
      .message-zone__message__text {
        span {

        }
      }
      }
  }
  .send-message-zone {
    .send-message-zone__input {

    }
    .send-message-zone__button {

    }
  }
}

