* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

.log-bar {
  width: 100%;
  height: 30px;
  background-color: $mainBlue;
  position: fixed;
  z-index: 999;
    p {
      text-align: center;
      line-height: 30px;
      color: $mainWhite;
    }
}

.contents {
  height: 100%;
  width: 100%;
  position: fixed;
  .side-bar {
    min-height: 100%;
    width: 300px;
    background-color: #2f3e51;
    position: absolute;
    &__user-zone {
      height: 96px;
      padding: 0 20px;
      background-color: #253141;
      &__user {
        width: 100%;
        line-height: 96px;
        float: left;
        span {
          color: $mainWhite;
          font-size: 16px;
          font-weight: bold;
        }
        a {
          float: right;
          margin-right: 10px;
          i {
            line-height: 96px;
            color: $mainWhite;
          }
        }
      }
    }
    &__group-zone {
      height: calc(100vh - 96px);
      padding-top: 20px;
      overflow-y: scroll;
      &__group {
        padding: 0 20px 40px;
        &__name {
          color: $mainWhite;
          font-size: 15px;
          margin-bottom: 5px;
        }
        &__message {
          color: $mainWhite;
          font-size: 11px;
        }
      }
    }
  }
  .chat-zone {
    width: calc(100vw - 300px);
    height: 100%;
    background-color:#dddddd;
    position: absolute;
    left: 300px;
    &__group {
      height: 96px;
      background-color: $mainWhite;
      position: relative;
      padding: 0 40px;
      border-bottom: solid 1px #eeeeee;
      &__name{
        height: 20px;
        padding-top: 35px;
        padding-bottom: 15px;
        float: left;
        span {
          font-size: 20px;
          color:#333333;
        }
      }
      &__button {
        height: 40px;
        margin-top: 28px;
        background-color: $mainWhite;
        border: solid 2px $mainBlue;
        float: right;
        span {
          display: inline-block;
          width: 100%;
          margin: 0 20px;
          font-size: 16px;
          line-height: 36px;
          color: $mainBlue;;
        }
      }
      &__member{
        float: left;
        clear: left;
        margin-top: 15px;
        span {
          font-size: 12px;
          color: $fontGray;
        }
      }
    }
    .message-zone {
      width: 100%;
      height: calc(100% - 96px - 50px);
      padding: 40px;
      overflow-x: scroll;
      overflow-y: scroll;
      &__message {
        margin-bottom: 40px;
        &__member {
          float: left;
          margin-right: 10px;
          margin-bottom: 10px;
          span {
            font-size: 16px;
            font-weight: bold;
            color: $fontBlack;
          }
        }
        &__date {
          float: left;
          span {
            font-size: 12px;
            color: $fontGray;
          }
        }
        &__text {
          clear: both;
          span {
            font-size: 14px;
            color: $fontBlack;
          }
        }
      }
    }
    .send-message-zone {
      min-width: 600px;
      width: 100%;
      height: 90px;
      padding: 20px 40px;
      background-color: $fontGray;
      position: absolute;
      bottom: 0;
      &__input {
        width: calc(100% - 100px);
        height: 50px;
        background-color: $mainWhite;
        padding-left: 10px;
        float: left;
        border: none;
      }
      i {
        display: block;
        height: 50px;
        line-height: 50px;
        background-color: $mainWhite;
        color: mainBlack;
        float: right;
        padding: 0 15px;
        margin-right: 10px;
        border: none;
      }
      &__button {
        height: 50px;
        width: 100px;
        background-color: $mainBlue;
        float: right;
        span {
          display: inline-block;
          width: 100%;
          text-align: center;
          font-size: 16px;
          line-height: 50px;
          color: $mainWhite;;
        }
      }
    }
  }
}
